@mixin card-hover-effect {
  border-radius: 10px;
  box-shadow: 0 0 16px var(--vp-home-list-box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 10px 16px -4px var(--vp-c-indigo-1);
    transform: translateY(-3px);
    border-radius: 8px;
  }
}

:root {
  --vp-home-list-box-shadow: #ccc;
}

.dark {
  --vp-home-list-box-shadow: #c3c3c3;
}

.tk-post-item {
  @include card-hover-effect;
}

.tk-home-card {
  @include card-hover-effect;
}
