/* var.scss */
:root {
  --vp-c-brand-1: #5da8ff;
  --vp-c-brand-2: #faad14;
  --vp-c-brand-3: #646cff;
}

.dark {
  --vp-c-brand-1: #5da8ff;
  --vp-c-brand-2: #faad14;
  --vp-c-brand-3: #646cff;
}

.VPDoc h1 {
  background: linear-gradient(
    114.2deg,
    rgba(184, 215, 21, 1) -15.3%,
    rgba(148, 187, 233, 1) 14.5%,
    rgba(21, 215, 182, 1) 38.7%,
    rgba(129, 189, 240, 1) 58.8%,
    rgba(240, 129, 129, 1) 88.5%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

// 链接下划线
.vp-doc a {
  text-decoration: none;
}

// /* 鼠标样式 */
body {
  cursor: url(/mouse/default.cur), auto;
}

a,
button,
img,
svg,
input,
textarea,
select,
option,
label,
span {
  cursor: url(/mouse/pointer.cur), auto !important;
}

// 看板娘提示宽度
#oml2d-tips {
  width: 200px !important;
}

// 切换路由进度条颜色样式
.nprogress .bar {
  background: linear-gradient(
    114.2deg,
    rgba(184, 215, 21, 1) -15.3%,
    rgba(148, 187, 233, 1) 14.5%,
    rgba(21, 215, 182, 1) 38.7%,
    rgba(129, 189, 240, 1) 58.8%,
    rgba(219, 108, 205, 1) 77.3%,
    rgba(240, 129, 129, 1) 88.5%
  ) !important;
}

/* 页脚微章居中 */
.tk-footer-info p {
  display: flex;
  justify-content: center;
}

/* 移动端页脚微章布局 */
@media (max-width: 768px) {
  .tk-footer-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
  }

  .tk-footer-info p a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
  }
}

/* 页脚微章图片 */
.tk-footer-info p img {
  margin-left: 10px;
}